// fixed-btn
.fixed-btn
	position: fixed
	top: 305px
	left: 0
	width: 123px
	height: 101px
	background-color: #fff
	border: 1px solid #dadada
	box-shadow: 3.5px 3.5px 5px rgba(25, 24, 20, 0.25)
	z-index: 100
	border-radius: 0 50% 50% 0
	&:before,
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 20px
		margin-top: -32px
	&:before
		+s(symbol)
	&:after
		opacity: 0
		+tr(opacity 0.4s)
		+s(symbol-h)
	&:hover
		&:after
			opacity: 1
	+r(768)
		display: none

// upper
.upper
	position: relative
	padding-top: 185px
	text-align: center
	background-image: url(../img/bg.jpg)
	+cover
	&__img
		max-width: 100%
		height: auto
	&__ttl
		font-size: 24px
	&__txt
		position: relative
		padding: 50px 0
		font-size: 18px
		color: #FFF
		&:before
			content: ""
			display: block
			width: 100%
			max-width: 435px
			height: 47px
			margin: 0 auto
			background-image: url(../img/arr-white.png)
			background-position: center center
	+r(900)
		&__img
			padding: 0 2%
	+r(650)
		padding-top: 130px

// about
.about
	font-size: 16px
	line-height: 1.9
	&__in
		padding: 10px 40px 0
		+clr
	&__txt
		float: left
		max-width: 420px
		color: #222

		&:last-child
			float: right
			text-align: right
	&__info
		position: relative
		padding-top: 50px
		&:before
			content: ""
			position: absolute
			top: 0
			width: 100%
			max-width: 1088px
			height: 118px
			margin: 0 auto
			background-image: url(../img/arr.png)
			background-position: center center

	&__explain
		max-width: 430px
		margin: 0 auto 60px
		text-align: justify
		h3
			margin-bottom: 25px
			text-transform: uppercase
			text-align: center
			font-size: 30px
			color: #42484a
			line-height: 36px
			+op-sb
	+r(1024)
		&__in
			margin: 20px 0
			padding: 0
		&__txt
			float: none
			max-width: initial
			text-align: center
			&:last-child
				float: none
				text-align: center

// advantage
.advantage
	padding: 80px 0
	background: url(../img/advantage-bg.jpg) repeat
	&__in
		+clr
	&__ttl
		position: relative
		text-align: right
		text-transform: uppercase
		font-size: 30px
		color: #ffebb8
		line-height: 36px
		z-index: 0
		+op-sb
		&:after
			content: ""
			position: absolute
			top: 15px
			right: 0
			width: 100%
			max-width: 665px
			height: 141px
			background-image: url(../img/line.png)
			-webkit-background-size: contain
			-o-background-size: contain
			background-size: contain
			background-repeat: no-repeat
			z-index: -1
		&.is-left
			text-align: left
			margin-bottom: 30px
			&:after
				top: initial
				right: initial
				left: 0
				bottom: 15px
	&__bl
		position: relative
		float: left
		font-size: 16px
		color: #aac8ea
		+clr
		&.is-right
			float: right
			text-align: right
			.advantage__wrap
				float: right
				&:after
					left: 24px
					right: initial
					+arr(24, 74, #fff, l)
			.advantage__pic
				margin: 0 0 0 40px
	&__wrap
		position: relative
		float: left
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 24px
			margin-top: -37px
			+arr(24, 74, #fff, r)
	&__pic
		position: relative
		max-width: 204px
		max-height: 204px
		margin-right: 40px
		background-color: #375272
		border: 2px solid #fff
		border-radius: 50%
		box-shadow: inset 3.5px 3.5px 5px rgba(25, 24, 20, 0.25)
		cursor: pointer
		overflow: hidden
		z-index: 1
		-webkit-tap-highlight-color: transparent
		&:hover
			img
				+scale(1.1)
		img
			position: relative
			width: 100%
			border-radius: 50%
			z-index: 1
			+tr(0.3s)
	&__txt
		margin-top: 30px
		max-width: 380px
		overflow: hidden
		line-height: 30px
		h4
			margin-bottom: 25px
			font-size: 20px
			color: #FFF
			+op-sb
	&__info
		float: left
		width: 50%
		padding: 0 20px 0 0
		font-size: 16px
		color: #fff
		line-height: 30px
		&:last-child
			padding: 0 0 0 20px
		p
			margin-bottom: 27px
	+r(900)
		&__ttl
			margin-bottom: 100px
			&.is-left
				margin-top: 60px
	+r(650)
		&__ttl
			margin-bottom: 50px
			text-align: center
			&:after
				display: none
			&.is-left
				margin-top: 20px
				text-align: center
		&__bl
			float: none
			margin-bottom: 40px
			&.is-right
				float: none
				text-align: center
				.advantage__wrap
					float: none
				.advantage__pic
					margin: 0 auto
		&__wrap
			float: none
			&:after
				display: none
		&__pic
			margin: 0 auto
		&__txt
			max-width: initial
			text-align: center
		&__info
			float: none
			width: 100%
			padding: 0
			&:last-child
				padding: 0

// gallery
.gallery
	font-size: 0
	&__bl
		display: inline-block
		width: 25%
		vertical-align: middle
		overflow: hidden
		cursor: pointer
	&__img
		display: block
		width: 100%
		height: 350px
		+cover
		+tr(0.3s)
		&:hover
			+scale(1.15)
	+r(1200)
		&__bl
			width: 50%
	+r(650)
		&__bl
			width: 100%
		&__img
			height: 220px

// plan
.plan
	padding: 60px 0
	background: url(../img/plan-bg.jpg) repeat
	&__in
		+clr
	&__bl
		position: relative
		width: 50%
		float: left
		font-size: 16px
		color: #111212
		&:first-child
			padding-left: 40px
			padding-bottom: 20px
	&__ttl
		margin-bottom: 25px
		font-size: 48px
		text-transform: uppercase
		color: #335361
		line-height: 1
		+op-sb
	&__zoom
		margin-top: 25px
		img
			max-width: 100%
	+r(1024)
		&__bl
			float: none
			width: 100%
			&:first-child
				margin-bottom: 40px
				padding-left: 0
				text-align: center
		&__zoom
			text-align: center
	+r(650)
		&__ttl
			font-size: 35px

.aero
	position: absolute
	right: 0
	bottom: 0
	text-transform: uppercase
	color: #335361
	z-index: 2
	+op-sb
	&:after
		content: ""
		position: absolute
		right: 18px
		bottom: 25px
		+s(arr)
	&__link
		display: block
		width: 110px
		height: 110px
		margin-bottom: 10px
		background-color: #335361
		border-radius: 50%
		+vertical
		.icon
			vertical-align: middle
	+r(1024)
		right: 20px
	+r(650)
		position: static
		&:after
			display: none
		&__link
			width: 80px
			height: 80px
			margin: 20px auto

.zoomContainer
	+r(768)
		display: none

// tabs
.tabs
	position: relative
	padding-left: 20px
	z-index: 2
	+clr
	&__list
		position: relative
		float: left
		&:before
			content: ""
			position: absolute
			top: 0
			right: -2px
			bottom: -20px
			width: 14px
			background-image: url(../img/shadow.png)
			z-index: 2
			+cover
	&__content
		overflow: hidden
	&__bl
		display: none
		&.is-active
			display: block
		img
			max-width: 100%
			border: 2px solid #f6b188
	&__num
		position: relative
		font-size: 24px
		padding: 23px 11px 4px
		color: #fff
		cursor: pointer
		line-height: 1
		-webkit-tap-highlight-color: transparent
		+op-sb
		&:after
			content: ""
			position: absolute
			top: 100%
			right: 0
			z-index: 1
		&.is-a
			padding-top: 20px
			background: #f6b188
			&:after
				+arr(40, 20, #f6b188, tr)
		&.is-b
			background: #edb2d2
			&:after
				+arr(40, 20, #edb2d2, tr)
		&.is-c
			background: #dcde4c
			&:after
				+arr(40, 20, #dcde4c, tr)
		&.is-d
			background: #f9eb10
			&:after
				+arr(40, 20, #f9eb10, tr)
		&.is-e
			background: #fbb51f
			&:after
				+arr(40, 20, #fbb51f, tr)
		&.is-f
			background: #94d1d2
			&:after
				+arr(40, 20, #94d1d2, tr)
		&.is-g
			background: #808080
			&:after
				+arr(40, 20, #808080, tr)
		&.is-h
			background: #a7b6bd
			&:after
				+arr(40, 20, #a7b6bd, tr)
	+r(1024)
		max-width: 500px
		margin: 0 auto
		padding-left: 0
	+r(650)
		&__list
			&:before
				bottom: 0
		&__num
			padding: 7px 11px
			font-size: 16px
			&:after
				display: none
			&:first-child
				padding-top: 7px

// development
.development
	&__ttl
		position: relative
		padding-top: 50px
		text-transform: uppercase
		text-align: center
		letter-spacing: 3px
		+neuron
		h2
			position: relative
			display: inline-block
			font-size: 35px
			color: #21afa4
			&:before,
			&:after
				content: ""
				position: absolute
				top: 50%
				margin-top: -13.5px
				z-index: 1
			&:before
				right: 100%
				margin-right: 107px
				+arr(16, 27, #fff, r)
			&:after
				left: 100%
				margin-left: 107px
				+arr(16, 27, #fff, l)
		span
			position: relative
			&:before,
			&:after
				content: ""
				position: absolute
				width: 98px
				top: 50%
				margin-top: -13.5px
				height: 27px
				background: #21afa4
			&:before
				right: 100%
				margin-right: 25px
			&:after
				left: 100%
				margin-left: 25px
	&__subttl
		padding-top: 17px
		font-size: 20px
		color: #ef3122
	&__in
		display: table
		width: 100%
		padding: 50px 0 65px
	&__bl
		display: table-cell
		padding: 0 20px
		font-size: 24px
		color: #222
		vertical-align: bottom
		&.txt-right
			text-align: right
		&.txt-center
			width: 36.3%
			text-align: center
			border-left: 1px solid #4faea2
			border-right: 1px solid #4faea2
			.development__txt
				max-width: initial
			.development__small
				max-width: 275px
				margin: 0 auto
	&__txt
		max-width: 250px
		margin-bottom: 30px
	&__num
		display: inline-block
		font-size: 36px
		white-space: nowrap
		small
			display: inline-block
			font-size: 24px
			white-space: nowrap
	&__img
		max-width: 195px
		margin: 0 auto 35px
		img
			width: 100%
	&__small
		font-size: 16px
	&__info
		margin-top: 40px
		font-size: 16px
		color: #ff151f
	&__link
		display: block
		color: #ff151f
		&:hover
			text-decoration: underline
	h4
		font-size: 36px
	h5
		font-size: 24px
	+r(1024)
		&__bl
			font-size: 18px
		&__num
			font-size: 25px
		h4
			font-size: 25px
		h5
			font-size: 20px
	+r(900)
		&__in
			display: block
		&__bl
			display: block
			text-align: center
			&.txt-center
				width: 100%
				border: none
			&.txt-right
				text-align: center
		&__txt
			max-width: initial
			margin: 0 auto 30px
	+r(650)
		&__ttl
			h2
				&:before,
				&:after
					display: none
			span
				&:before,
				&:after
					display: none

// contacs
.contacts
	padding: 60px 0 90px
	background: url(../img/advantage-bg.jpg) repeat
	&__in
		display: table
		width: 100%
		table-layout: fixed
	&__bl
		display: table-cell
		padding: 0 20px
		font-size: 16px
		color: #fff
		vertical-align: top
		&.is-form
			width: 340px
	&__txt
		margin-bottom: 35px
	&__subttl
		color: #ffebb8
	&__tel
		margin-top: 37px
		text-transform: uppercase
		font-size: 24px
		+op-sb
	h3
		margin-bottom: 33px
		color: #ffebb8
	span
		display: inline-block
		white-space: nowrap
	+r(900)
		&__in
			display: block
		&__bl
			display: block
			&:first-child
				text-align: center
				.contacts__txt
					max-width: 500px
					margin: 0 auto 35px
			&.is-form
				width: 100%
				padding: 0
				text-align: center

// form
.form
	position: relative
	max-width: 350px
	text-align: left
	padding: 35px 30px 25px
	background-color: #ffebb8
	&.no-bg
		background: none
	&__ttl
		margin-bottom: 25px
		text-transform: uppercase
		font-size: 30px
		color: #111212
		line-height: 30px
		+op-sb
	&__label
		display: block
		margin-bottom: 12px
	&__btn
		display: block
		width: 100%
		margin-top: 15px
		padding: 9px
	+r(900)
		margin: 0 auto

// documentation
.doc
	background: #213943
	&__in
		position: relative
		padding: 50px 0
		top: -40px
		text-align: center
		font-size: 0
		background: #335361
	&__ttl
		margin-bottom: 30px
		text-transform: uppercase
		text-align: center
		font-size: 30px
		color: #ffebb8
		line-height: 1.24
	&__wrap
		display: inline-block
		width: 33.33%
		padding: 0 20px
		text-align: left
		vertical-align: top
	&__bl
		display: block
		margin-bottom: 30px
		font-size: 0
		color: #FFF
		+clr
		&:hover
			span
				text-decoration: none
		span
			display: inline-block
			width: 80%
			padding-left: 15px
			font-size: 16px
			vertical-align: middle
			text-decoration: underline
	&__ico
		display: inline-block
		width: 20%
		max-width: 43px
		vertical-align: middle
	.icon
		vertical-align: middle
	+r(900)
		&__wrap
			width: 50%
	+r(650)
		&__wrap
			width: 100%
		&__bl
			max-width: 350px
			margin: 0 auto 30px

#map
	height: 400px
	+r(900)
		height: 300px
	+r(650)
		height: 200px

.help-block.form-error
	padding-top: 5px
	font-size: 12px
	color: #e1000a

// slider
.slider
	width: 100%
	height: 100%
	&__item
		width: 100%
		height: 100%
		+cover
	.slick-list
		width: 100%
	.slick-track,
	.slick-list
		height: 100%
	.slick-prev,
	.slick-next
		position: absolute
		top: auto
		bottom: 50px
		margin: 0
		width: 65px
		height: 65px
		background-color: rgba(19, 29, 45, 0.6)
		border: 2px solid #FFF
		border-radius: 50%
		z-index: 100
		+tr(0.3s)
		&:hover
			opacity: .7
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
	.slick-prev
		left: 40px
		&:before
			+arr(18, 24, #fff, l)
			margin: -12px 0 0 -12px
	.slick-next
		right: 40px
		&:before
			+arr(18, 24, #fff, r)
			margin: -12px 0 0 -9px
	+r(650)
		.slick-prev,
		.slick-next
			width: 40px
			height: 40px
		.slick-prev
			left: 20px
			&:before
				+arr(15, 20, #fff, l)
				margin: -10px 0 0 -10.5px
		.slick-next
			right: 20px
			&:before
				+arr(15, 20, #fff, r)
				margin: -10px 0 0 -7.5px