<!-- begin header  -->
<div class="header">
	<div class="header__in">
		<div class="l">
			<div class="header__menu">
				<div class="menu">
					<div class="menu__left">
						<ul class="menu__list">
							<li><a href="#">План квартала</a></li>
							<li><a href="#">Преимущества</a></li>
							<li><a href="#">Таунхаусы</a></li>
						</ul>
					</div>
					<div class="menu__right">
						<ul class="menu__list">
							<li><a href="#">О застройщике</a></li>
							<li><a href="#">Инфраструктура</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="tel">
					<p class="tel__num"><span>+7 (495) 221-71-12</span></p>
					<p>обратный звонок</p>
					<a class="tel__ico" href="#"><i class="icon icon-tel"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->