<!-- begin tabs-->
<div class="tabs">
	<ul class="tabs__list">
		<li class="tabs__num is-a js-tabs-link is-active" data-color="#f6b188">A</li>
		<li class="tabs__num is-b js-tabs-link" data-color="#edb2d2">B</li>
		<li class="tabs__num is-c js-tabs-link" data-color="#dcde4c">C</li>
		<li class="tabs__num is-d js-tabs-link" data-color="#f9eb10">D</li>
		<li class="tabs__num is-e js-tabs-link" data-color="#fbb51f">E</li>
		<li class="tabs__num is-f js-tabs-link" data-color="#94d1d2">F</li>
		<li class="tabs__num is-g js-tabs-link" data-color="#808080">G</li>
		<li class="tabs__num is-h js-tabs-link" data-color="#a7b6bd">H</li>
	</ul>
	<div class="tabs__content">
		<div class="tabs__bl js-tabs-block is-active" data-name="A">
			<img src="img/townhouses/a.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="B">
			<img src="img/townhouses/b.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="C">
			<img src="img/townhouses/c.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="D">
			<img src="img/townhouses/d.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="E">
			<img src="img/townhouses/e.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="F">
			<img src="img/townhouses/f.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="G">
			<img src="img/townhouses/e.jpg" alt="townhouse">
		</div>
		<div class="tabs__bl js-tabs-block" data-name="H">
			<img src="img/townhouses/h.jpg" alt="townhouse">
		</div>
	</div>
</div>
<!-- end tabs-->